/clase-05/node_modules
/clase-06/node_modules
/clase-06/desafio-3/node_modules
/clase-07/node_modules
/clase-08/node_modules
/clase-08/desafio/node_modules
/clase-09/node_modules

curso-backend.code-workspace